.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container1 {
  width: 180px;
  margin: 0 auto;
}

.container2 {
  width: 165px;
  margin: 0 auto;
}

button {
  margin: 5px;
}

.nb {
  font-weight: bold;
}
button:disabled,
button[disabled]{
  background-color: green;
}